## 1. Let us analyse the students dataset.

In [ ]:
## Import the required modules
import pandas as pd
import numpy as np
from functools import reduce
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from bokeh.plotting import figure, output_file, show#, output_notebook
output_file('example.html')
pd.set_option('display.max_columns', None)

In [ ]:
## Read the cleaned csv file and load into a new dataframe.

df_students_clean = pd.read_csv('../../data/studentPublic_Clean.csv')

In [ ]:
## Get info about the dataframe
df_students_clean.info()

In [ ]:
## Get the first few rows of the dataset
df_students_clean.head()

In [ ]:
## Get last rows of the dataset
df_students_clean.tail()

In [ ]:
## Create a dataframe to get yearly number of students from all nationalities and across all Australian states. 
df_yearly = df_students_clean[(df_students_clean['nationality'] == '_All') & (df_students_clean['state'] == '_All')]

In [ ]:
## Sort the data by year
df_yearly.sort_values('year')

In [ ]:
## The below plot shows yearly trend for Total Number of students from year 2002-2020

plt.figure(figsize=(20,8))
sns.set(font_scale=1.5)
sns.barplot(x = 'year',
            y = 'students',
            data = df_yearly, palette="Blues_d")
 
# Show the plot
plt.xlabel("Year", fontsize=20)
plt.ylabel("Students", fontsize=20)
plt.title("Total No. of International Students from year 2002-2020", fontsize=25)
plt.xticks(rotation=45)
plt.show()

### We can see from the above bar chart that number of students were growing steadily from 2012 till 2019 and there is small decrease in 2020. This could be attributed to COVID-19 and data for Nov and Dec'2020.

In [ ]:
df_yearly_1 = df_yearly.pivot_table(
    index=['year'],
    values=['students'],
    aggfunc='sum'
)

df_yearly_1

In [ ]:
## Let's get the avergage number of students per year from 2002-2020.
df_yearly_1.mean()

In [ ]:
##Lets check the countrywise students data for year 2020

df_countries_2020 = df_students_clean[(df_students_clean['nationality'] != '_All') & (df_students_clean['state'] == '_All') & (df_students_clean['year'] == 2020)]

In [ ]:
df_countries_2020

In [ ]:
## Sort the data based on students clount from highest to lowest.
df_countries_2020 = df_countries_2020.sort_values('students', ascending=False).head(20)

In [ ]:
df_countries_2020

In [ ]:
## The below plot shows Total Number of students year 2020 for top 20 countries

plt.figure(figsize=(20,8))
sns.set(font_scale=1.5)
sns.barplot(x = 'students',
            y = 'nationality',
            data = df_countries_2020, palette="Blues_d")
# Show the plot
plt.xlabel("Students", fontsize=20)
plt.ylabel("Country", fontsize=20)
plt.title("Top 20 Countries -International Students for year 2020", fontsize=25)
##plt.xticks(rotation=45)
plt.show()

## We can see from the above bar chart that China has highest number of students in 2020 followed by India and Nepal.

In [ ]:
## Let's get the students data from 2002-2020 for each Australian State/Territory.

df_states = df_students_clean[(df_students_clean['nationality'] == '_All') & (df_students_clean['state'] != '_All')]

In [ ]:
df_states

In [ ]:
df_states.head()

In [ ]:
df_states.tail()

In [ ]:
## Sort the values by year.

df_states.sort_values('year')

In [ ]:
## The below line chart shows students trend for all the Australian Stats/Territories for the years 2002-2020.

fig_size = (20, 10)
fig, ax = plt.subplots(figsize=fig_size)
sns.lineplot(data=df_states, x='year', y='students', hue='state', ax=ax)
plt.xlabel("Year", fontsize= 20)
plt.ylabel("Total Students", fontsize= 20)
plt.title("Yearly Distribution of Students in Each State", fontsize= 25)

## We can see from the above line chart that NSW has highest number of students for all the years followed by Victoria and Queensland.

## 2. Let us analyse the enrolments dataset.

In [ ]:
## Read the cleaned csv file and load into a new dataframe.

df_enrol_clean = pd.read_csv('../../data/nationalitySummary_Clean.csv')

In [ ]:
df_enrol_clean.info()

In [ ]:
df_enrol_clean.head()

In [ ]:
df_sector2020 = df_enrol_clean[(df_enrol_clean['sector'] != '_All') & (df_enrol_clean['level of study'] == '_All') & (df_enrol_clean['broad field of education'] == '_All') & (df_enrol_clean['year'] == 2020)]

In [ ]:
df_sector2020

In [ ]:
df_sector2020 = df_sector2020.pivot_table(
    index=['sector'],
    values=['enrolments', 'commencements'],
    aggfunc='sum'
)

df_sector2020

## We can see from the above table that highest number of enrolments in 2020 are in Higher Education sector followed by VET (Voacational Education & Training).
## On the other hand, highest number of commencements in 2020 are in VET followed by Higher Education.

Note: ELICOS -English Language Intensive Courses, 
      VET -Vocational Education and Training

In [ ]:
## Let's see the %age of enrolments resulted into commencement for all the sectors.

df_sector2020['%age'] = ((df_sector2020['commencements'] / df_sector2020['enrolments']) * 100)
df_sector2020

### It is interesting to know that Higher Education has lowest %age of commencements although the enrolments are highest.

In [ ]:
df_sector2020.info()

In [ ]:
## Let's draw a Bokeh bar chart for Sector wise Enrolments for the year 2020

label = ['ELICOS', 'Higher Education', 'Non-award', 'Schools', 'VET']

p1 = figure(x_range=label,
    plot_height=500,
    plot_width=500,
    title="Sector-wise Enrolments - Year 2020",
    x_axis_label="Sector",
    y_axis_label="Total Enrolments"
)

p1.vbar(
    x=list(df_sector2020.index),
    top=df_sector2020.enrolments,
    color='firebrick', width=0.5
)
p1.left[0].formatter.use_scientific = False
p1.title.text_font_size = "20px"
show(p1)

In [ ]:
## Let's draw a Bokeh bar chart for Sector wise Commencements for the year 2020

label = ['ELICOS', 'Higher Education', 'Non-award', 'Schools', 'VET']

p2 = figure(x_range=label,
    plot_height=500,
    plot_width=500,
    title="Sector-wise Commencements - Year 2020",
    x_axis_label="Sector",
    y_axis_label="Total Commencements"
)

p2.vbar(
    x=list(df_sector2020.index),
    top=df_sector2020.commencements,
    color='firebrick', width=0.5
)
p2.left[0].formatter.use_scientific = False
p2.title.text_font_size = "20px"
show(p2)

In [ ]:
df_sector_all = df_enrol_clean[(df_enrol_clean['sector'] == '_All') & (df_enrol_clean['level of study'] == '_All') & (df_enrol_clean['broad field of education'] == '_All') & (df_enrol_clean['nationality'] == '_All')]

In [ ]:
df_sector_all.head()

In [ ]:
df_sector_all.info()

In [ ]:
df_sector_all = df_sector_all.pivot_table(
    index='year',
    values=['enrolments', 'commencements'],
    aggfunc='mean'
)

df_sector_all

In [ ]:
## Lets fraw a bar chart to compare enolments and commencemnets for 2019 & 2020.
fig, ax = plt.subplots(1,1, figsize=(20, 8))
plt.gcf().axes[0].yaxis.get_major_formatter().set_scientific(False)
df_sector_all.plot(kind='bar', ax=ax)
ax.legend()

plt.title('Enrolments/Commencements- 2019 vs 2020', fontsize=25)
plt.xlabel('Year', fontsize=20)
plt.ylabel('Total', fontsize=20)

plt.show()